@import "../../global.scss";
.edit-item-container {
    padding: 0px 20px 40px 20px;
    margin-top: 80px;
    .edit-item-title {
        font-weight: 800;
        font-size: 24px;
        line-height: 28px;
        margin-top: 5px;
        margin-bottom: 20px;
        color: $blue;
        text-align: left;
    }
    .edit-item-card {
        padding: 10px;
        border: 1px solid $borderColor;
        box-sizing: border-box;
        box-shadow: $boxShadowDark;
        border-radius: 10px;
        .edit-item-form {
            width: 90%;
            margin: auto;
            .edit-item-label {
                text-align: left;
                width: 100%;
                margin-bottom: 0px;
                font-size: 14px;
            }
            .edit-item-input {
                margin-top: 0px;
                margin-bottom: 10px;
            }
            .error {
                font-size: 13px;
                color: $red;
                text-align: left;
                margin-left: 5px;
            }
            .bottom-btns-container {
                margin-top: 20px;
                padding: 5px;
                .clear-btn,
                .submit-btn {
                    width: 118px;
                    height: 36px;
                    font-weight: 600;
                    border-radius: 20px;
                    outline: none;
                    @media #{$md} {
                        width: 150px;
                        height: 36px;
                    }
                }
                .clear-btn {
                    background: $faintGrey;
                    color: $lightBlack;
                    border: 1px solid $faintGrey;
                    &:hover {
                        border-color: $lightBlack;
                        color: $lightBlack;
                        background-color: white;
                    }
                }
                .submit-btn {
                    background: $red;
                    color: white;
                    border: 1px solid $red;
                    &:hover {
                        border-color: $red;
                        color: $red;
                        background-color: white;
                    }
                }
            }
        }
    }
}
