@import "../../global.scss";
.success-modal .modal-content {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    .success-modal-title {
        font-weight: bold;
        font-size: 28px;
        color: $blue;
        text-align: center;
    }
    .success-img-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        .success-img {
            margin-top: 20px;
        }
    }
    .close-btn-container {
        display: flex;
        justify-content: flex-end;
        .close-btn {
            background: white;
            color: $darkGrey;
            border-color: white;
            outline: none;
            &:hover{
                background-color: white ;
                border-color: white;
            }
        }
    }
}
