@import "../../global.scss";

.itemListSection {
    .item-card {
        text-align: left;
        padding: 15px;
        border: 1px solid $borderColor !important;
        box-shadow: $boxShadowDark;
        border-radius: 8px;
        position: relative;
        margin-top: 25px;
        max-height: 430px;
        @media #{$md} {
            height: 420px;
        }
        img {
            height: 150px;
            object-fit: contain;
            @media #{$xs} {
                height: 200px;
            }
        }
        .brand {
            color: #c1c1c1;
            line-height: 10px;
            @media #{$xs} {
                font-size: 13px;
            }
            @media #{$md} {
                margin-top: 10px;
            }
        }
        .productName {
            font-size: 16px;
            margin-bottom: 0px;
            line-height: 18px;
            color: $lightBlack;
            font-weight: 700;
            @media #{$md} {
                height: 30px;
            }
        }
        .total-off {
            color: #13d60f;
            font-weight: 700;
            margin-left: 10px;
        }
        .mrp {
            color: $lightBlack;
            font-weight: 600;
        }
        .customer-price {
            color: $blue;
            font-weight: 700;
        }
        .description {
            font-size: 13px;
            line-height: 13px;
            color: $blue;
            text-decoration: underline;
            margin-bottom: 5px;
        }
        .sold-out {
            margin-bottom: 0;
            background: red;
            color: white;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            max-width: 80px;
            padding-left: 5px;
            padding-right: 5px;
            font-size: 14px;
        }
        .edit-button {
            color: black;
            background-color: white;
            border-color: white;
            cursor: pointer;
            &:hover {
                color: black;
                background-color: white !important;
                border-color: white;
            }
        }
        .delete-button {
            color: $red;
            background-color: white;
            border-color: white;
            cursor: pointer;
            &:hover {
                color: $red;
                background-color: white !important;
                border-color: white;
            }
        }
    }
}
